<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <style>
        table {
            border-collapse: collapse;
            width: 25%;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<table border="1">
    <tr>
        <th>ID</th>
        <td th:text="${user.getId()}"></td>
    </tr>
    <tr>
        <th>Name</th>
        <td th:text="${user.getName()}"></td>
    </tr>
    <tr>
        <th>Grade</th>
        <td th:text="${user.getGrade()}"></td>
    </tr>
    <tr>
        <th>Email</th>
        <td th:text="${user.getEmail()}"></td>
    </tr>
</table>
<br/>
<hr/>

<form  th:action="@{/users/{id}/edit(id=${user.getId()})}">
    <button type="submit">Edit</button>
</form>

<br/>
<hr/>

<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
    <input th:type="submit" value="Delete">
</form>


</body>
</html>